.footer {
    border: 1px solid;
    height: 80px;
    text-align: center; 
    background-color: #172337;
    justify-content: center;
    display: flex;
    overflow: hidden;
    padding: 0px 50px;
    width: 100%;
  }
  .footer img {
    height: 18px;
    margin: auto ;
  }
  .footer p {
    color: white;
    margin: auto ;
    cursor: pointer;
    font-size: 15px;
  }