





#mainFooterDiv{
    display: flex;
    background-color: rgb(23,35,55);
    color: white;
    font-family: Roboto,Arial,sans-serif;
    font-size: 15px;

}

#secondFooterDivLeft{
    display: flex;
    width: 60%;
    /* margin-left: 40px; */
    padding-left: 60px;
}

#secondFooterDivLeft div{
    margin: 0 20px;
}

#secondFooterDivRight{
display: flex;
width: 40%;
line-height: 20px;
}

#secondFooterDivRight div{
margin: 0 20px;
}

#firstChildOfEachDiv{
color: rgb(135,135,135);
}

#secondFooterDivLeft p{
    margin: 7px 0;
    cursor: pointer;

}

#firstChildOfEachDiv{
    /* margin: 10px 0; */
    cursor: none;
}

#secondFooterDivLeft p:hover{
    color: blue;
}

#contectDetails{
color: blue;
}



.footer {
    border: 1px solid;
    height: 80px;
    text-align: center; 
    background-color: #172337;
    justify-content: center;
    display: flex;
    overflow: hidden;
    padding: 0px 50px;
    width: 100%;
  }
  .footer img {
    height: 18px;
    margin: auto ;
  }
  .footer p {
    color: white;
    margin: auto ;
    cursor: pointer;
    font-size: 15px;
  }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}