body {
    font-family: Roboto,Arial,sans-serif;
}
#logincontainer {
    position: fixed;
    top: 51%;
    left: 50%;  
    transform: translate(-50%, -50%);
    display: none;
    justify-content: center;
    align-items: center;
}
.left-side{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 250px;
    height: 500px;
    background-color: #2874f0; 
}
.right-side{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 400px;
    height: 500px;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
}
#number {
    margin-top: 70px;
    margin-left: 50px;
    color:black;
    border:none;
    border-bottom:1px solid rgb(228, 228, 228);
    outline:none;
    background:none;
    transition: 0.5s;
    margin-bottom:20px; 
    width: 80%;
}
#number:focus{
    border-bottom:2px solid #2874f0;
}
#otp{
    width:80%;
    height: 40px;
    margin: auto;
    background-color: rgb(255, 94, 0);
    color: white;
    border: none;
    font-weight: 550;
    cursor: pointer;
}
.right-side p {
    font-size: 12px;
    width: 65%;
    margin: auto;
    margin: 20px 50px;
    letter-spacing: 1;
    color: rgb(132, 128, 128);
}
.left-side h1 {
    color: #fff;
    font-weight: 300;
    margin-left: 15px;
    margin-top: 30px;
}
.left-side p {
    color: #dbdbdb;
    margin-left: 15px;
    margin-top: 16px;
    /* font: size 1.2em;rem; */
     line-height: 140%; 
}
.loginimg{
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 110px;
}
#signbtn{
    color: #2874f0;
    text-decoration: none;
    cursor: pointer;
}
a{
    color: #2874f0;
    text-decoration: none;
}
.new-account{
    display: flex;
    justify-content:center;
    margin-top: 60%;
    font-weight: 900;
}
#number-label {
    position: absolute; 
    top: 14%;
    left: 46.2%;
   color: #878787;
   transform-origin: left;
   transition: transform 0.2s ease;
  }
  #number:focus + #number-label,
  #number:valid + #number-label {
   transform: translateY(-130%) scale(0.8);
  }
 #heading-1{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #212121;
    font-size: 14px;
    word-spacing: 2px;
 }
 #otp-required{
    display: flex;
    width: 20%;
    margin: auto;
    border:none;
    border-bottom:4px solid rgb(228, 228, 228);
    outline:none;
    background:none;
    transition: 0.5s;
    font-weight: bolder;
    font-size: 18px;
    letter-spacing: 3.5px;
 }
 #otp-required:focus{
    border-bottom:6px  dashed #2874f0 ;
}
 .button2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
 }
 #verify-btn{
    width:80%;
    height: 40px;
    margin: auto;
    background-color:#2874f0;
    color: white;
    border: none;
    font-weight: 550;
    cursor: pointer;
 }
 .pp{
    margin-top: 10px;
    text-align: center;
 }
